<!doctype html>
<html>
<head>
<title>Table Handlebars Test</title>
<script type="text/javascript" src="getTest.js"></script>
<script type="text/javascript">
	document.addEventListener("DOMContentLoaded", getRequest);
</script>
</head>
<body>
	<h1>This is the main page.</h1>
	{{{body}}}
</body>
</html>
