<h1>Testing Tables Assignment in Handlebars.</h1>

<form method="get">
  <input type="text" name="name" id="testName" value="client get info">
  <input type="button" id="getResult" name="Submit" value="Submit">
</form>

<!-- <script type="text/javascript" src="script.js"></script> -->