@CHARSET "ISO-8859-1";

/* table styles */
table, td, th {
	border: 1px solid black;
	empty-cells:show;
}

thead {
	display: table-header-group;
	vertical-align: middle;
	border-color: inherit;
	text-align: center;
	padding: 5px;
}

tbody.character_body th {
	font-style: italic;
	font-weight: normal;
	text-align: center;
}

tbody.character_body tr:NTH-OF-TYPE(even) {
	background: #f4d442;
}

tbody.character_body tr:NTH-OF-TYPE(odd) {
	background: #f4a641;
}

/**********/

/* list styles */
ul { 
	list-style-type: none;
} 
/**********/

/* div styles */
div.outer-content {
/* 	position: absolute; */
	left: 0px;
	width: 75%;
	background: #f2a4eb;
	margin-top: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}

div.inner-content {
	width: 75%;
	background: #a3c9f1;
	text-align: center;
	margin: auto;
	padding: 0px;
}

fieldset {
	border: 1px groove;
	margin: 5px;
}