<!doctype html>
<html>
<head>
<title>Final Project: Database Interaction and UI</title>
<link rel="stylesheet" href="styles.css" type="text/css">
<script type="text/javascript" src="client_utils.js"></script>
<script type="text/javascript">
	document.addEventListener("DOMContentLoaded", postWorkout);
	document.addEventListener("DOMContentLoaded", resetTable);
</script>
</head>
<body>
	<h1>Final Project: Interaction and UI</h1>
	{{{body}}}
</body>
</html>
